@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Dancing+Script:wght@400..700&family=Devonshire&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Playwrite+AU+QLD:wght@100..400&family=Playwrite+RO:wght@100..400&family=Rancho&family=Unna:ital,wght@0,400;0,700;1,400;1,700&display=swap');

*{
    margin: 0;
    box-sizing: border-box;
}

#heading{
    background-color: palegreen;
    font-style: italic;
    font-size: 20px;
}

article>h1{
    color: cornflowerblue;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
#main{
    height: 100vh;
    border: 3px solid salmon;
    display: flex;
    justify-content: center;
    align-items: center;
}

tr>td{
    color:black;
    font-size:25px;
    font-family: "Unna", serif;
}

#tabledata{
    padding: 20px;
    /* border-radius: 15px; */
}

table{
    border-radius: 10px;
    background-color:rgba(0, 191, 255, 0.114);
}

td>button{
    display: flex;
    justify-content: center;
    align-items: center;
     padding:  10px 10px;
     background-color: lightseagreen;

    }

    td>button:hover{
        background-color:goldenrod;
    }


    #view-journal{
        /* padding:  100px; */
height: 600px;
width: 800px;
        /* background-color: lightcyan; */
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        border-radius: 10px;
        box-shadow: 2px 1px 10px black;
    }

    img{
        border-radius: 10px;
        height: 300px;
        width: 300px;
    }


    /* article>h1{
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        padding-top:  200px; */
    
    div{
        /* border: 2px solid darkorchid; */
        box-shadow: 20px;
        gap:20px;
    }

#emcheddam{
    color: navy;
        font-family: "Dancing Script", cursive;
       font-size: 50px;
}